.rare2 {
    /* webpackIgnore: true */
    background-image: url(/images/assets/Icon_2x.png);
}

.rare3 {
    /* webpackIgnore: true */
    background-image: url(/images/assets/Icon_3x.png);
}

.rare4 {
    /* webpackIgnore: true */
    background-image: url(/images/assets/Icon_4x.png);
}

.rare5 {
    /* webpackIgnore: true */
    background-image: url(/images/assets/Icon_5x.png);
}

.rare6 {
    /* webpackIgnore: true */
    background-image: url(/images/assets/Icon_6x.png);
}

.rare1 {
    /* webpackIgnore: true */
    background-image: url(/images/assets/Icon_Ex.png);
}

.rareSF {
    /* webpackIgnore: true */
    background-image: url(/images/assets/Icon_SF.png);
}

.rare2::after {
    /* webpackIgnore: true */
    background-image: url(/images/assets/Icon_2x_star.png);
}

.rare3::after {
    /* webpackIgnore: true */
    background-image: url(/images/assets/Icon_3x_star.png);
}

.rare4::after {
    /* webpackIgnore: true */
    background-image: url(/images/assets/Icon_4x_star.png);
}

.rare5::after {
    /* webpackIgnore: true */
    background-image: url(/images/assets/Icon_5x_star.png);
}

.rare6::after {
    /* webpackIgnore: true */
    background-image: url(/images/assets/Icon_6x_star.png);
}

.rare1::after {
    /* webpackIgnore: true */
    background-image: url(/images/assets/Icon_Ex_star.png);
}

.rareSF::after {
    /* webpackIgnore: true */
    background-image: url(/images/assets/Icon_SF_star.png);
}
